<header class="header to-change_background" id="header">
  <div class="narrow-container">
    <div class="header__logo">

      <div class="logo">
        <a href="/" class="logo__link">
          <div class="logo__text">goloto</div>
          <div class="logo__dots">
            <div class="dot_top" id="logo__dot_top"></div>
            <div class="dot_bottom" id="logo__dot_bottom">🚀</div>
          </div>
          <div class="logo__text">dev</div>
        </a>
      </div>

    </div>

    <nav class="header__menu">
      <ul class="menu to-change_background">

        <li class="menu__item" role="menuitem">
          <a href="/portfolio" class="link">
            <span class="link__icon">📂</span>
            <span class="link__text">portfolio</span>
          </a>
        </li>

        <li class="menu__item" role="menuitem">
          <div class="link">
            <div class="link__icon">📄</div>
            <div class="link__text">pages</div>
          </div>
          <div class="header__pop-up-menu">
            <ul class="pop-up-menu to-change_background-hover">
              <div class="narrow-container">
                <li class="pop-up-menu__item">
                  <a href="/apps/404" class="link">
                    <span class="link__icon">🐞</span>
                    <span class="link__text">404</span>
                  </a>
                </li>
              </div>
            </ul>
          </div>
        </li>

      </ul>
    </nav>

  </div>
</header>
