<div class="personal">

  <div class="my-face">
    <img src="assets/img/my-face.jpg" alt="photo of Mikhail Goloto" class="my-face__img">
  </div>

  <div class="contacts">
    <div class="contacts__list">
      <ul class="contacts-list">
        <li class="contacts-list__item contacts__age">25 years</li>
        <li class="contacts-list__item contacts__location">Dubna, Russia</li>
        <li class="contacts-list__item contacts__mail">
          <a href="mailto:mikhail@goloto.dev">mikhail@goloto.dev</a>
        </li>
        <li class="contacts-list__item contacts__phone">
          <a href="tel:+79167445808">+7 916 744 58 08</a>
        </li>
      </ul>
    </div>
    <div class="contacts__about">
      and <a href="/bio" target="_blank">more</a> about me
    </div>
  </div>

</div>
