.personal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  .my-face {
    display: flex;

    &__img {
      height: 240px;
      border-radius: 120px;
    }
  }

  .contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 0 20px;

    &-list {
      padding: 0;
      line-height: 20px;

      &__item {
        display: flex;
        flex-direction: row;

        &::before {
          content: "•";
          width: 18px;
          color: var(--main-color);
          margin-left: 6px;
          margin-right: 3px;
          transition: .2s ease-in, .2s ease-out;
        }
      }
    }

    &__about {
      // temporary hide
      display: none;
      margin: 0 auto 0 auto;
    }

    &__age {
      &:hover {
        &::before {
          content: '⏳';
          margin-left: 2.5px;
          margin-right: 6.5px;
        }
      }
    }

    &__location {
      &:hover {
        &::before {
          content: '🧭';
          margin-left: 0;
          margin-right: 9px;
        }
      }
    }

    &__mail {
      &:hover {
        &::before {
          content: '📧';
          margin-left: 0;
          margin-right: 9px;
        }
      }
    }

    &__phone {
      &:hover {
        &::before {
          content: '📞';
          margin-left: 0;
          margin-right: 9px;
        }
      }
    }
  }
}
