.page-not-found {
  font-size: 100px;
  text-transform: uppercase;
  background: var(--main-color);
  display: table;
  margin: 20px auto;
  color: white;
  border-radius: 5px;
  mix-blend-mode: multiply;
  padding: 5px 10px;
  transition: var(--std-transition);
}
