h1 {
  text-align: center;
}

ul.projects {
  list-style: none;
  padding: 0;
  margin: 0 auto;

  .project {
    display: grid;
    grid-template-columns: 100px 22px auto;

    &:first-child {
      .project__line {
        background: linear-gradient(var(--background-color), var(--main-color), var(--main-color));
      }
    }

    &:last-child {
      .project__line {
        background: linear-gradient(var(--main-color), var(--main-color), var(--background-color));
      }
    }

    & > * {
      margin: 0 10px;
      padding: 20px 0;
    }

    &__date {
      font-size: 13px;
      color: gray;
      display: flex;

      .date {
        text-align: right;
        width: 85px;
        margin: auto 0;
      }
    }

    &__line {
      display: flex;
      position: relative;
      justify-content: space-around;
      width: 2px;
      background-color: var(--main-color);

      .circle {
        position: absolute;
        width: 8px;
        height: 8px;
        background-color: var(--background-color);
        border: solid var(--main-color);
        border-radius: 8px;
        top: calc(50% - 6px);
      }
    }

    &__information {
      display: grid;
      grid-template-columns: 170px auto;

      .tags {
        list-style: none;
        font-size: 14px;
        padding: 0;
        margin: auto 10px auto 0;
        display: flex;
        flex-wrap: wrap;
        height: min-content;

        .tag {
          display: flex;
          border: solid 0;
          border-radius: 5px;
          padding: 4px;
          color: white;
          margin: 2px 4px 2px 0;

          &_bitrix {
            background-color: rgb(81, 135, 255);
          }

          &_modx {
            background-color: rgb(255, 137, 126);
          }

          &_laravel {
            background-color: rgb(194, 2, 94);
          }

          &_integration {
            background-color: rgb(133, 74, 214);
          }

          &_backend {
            background-color: rgb(28, 93, 103);
          }

          &_ui {
            background-color: rgb(135, 58, 97);
          }

          &_seo {
            background-color: rgb(158, 76, 149);
          }

          &_features {
            background-color: rgb(94, 109, 184);
          }

          &_deploy {
            background-color: rgb(41, 71, 107);
          }

          &_spec {
            background-color: rgb(88, 143, 152);
          }
        }
      }

      .information {
        display: flex;
        flex-direction: column;
        justify-content: center;

        h2.name {
          font-size: 22px;
          font-weight: 600;
          margin: 5px 0;

          img.icon {
            height: 16px;
            margin: 0 6px 0 0;
          }
        }

        .tasks {
          font-size: 14px;
          color: gray;
        }
      }
    }
  }
}


@media (max-width: 700px) {
  .main {
    ul.projects {
      .project {
        grid-template-columns: 40px 22px auto;

        & > * {
          margin: 0 5px;
        }

        &__date {
          padding: 0;
          margin: 0;

          .date {
            writing-mode: sideways-lr;
            -webkit-writing-mode: vertical-lr;
          }
        }

        &__information {
          grid-template-columns: auto;
          margin: 0;

          .tags {
            width: auto;
          }

          .information {
            h2.name {
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}
