@font-face {
  font-family: JetBrains Mono;
  src: url("fonts/JetBrainsMono-Regular.ttf");
}

body {
  display: flex;
  flex-direction: column;
  font-family: JetBrains Mono;
  margin: 0;
}

main {
  display: flex;
}

.main {
  background-color: var(--background-color);

  &__column {
    flex-direction: column;
  }

  h1 {
    justify-content: center;
  }

  a {
    text-decoration: none;
    color: rgb(81, 135, 255);
  }

  .job-ready {
    text-align: center;
  }
}

section.content-container {
  margin: 0 0 50px 0;

  &:first-child {
    margin: 50px 0;
  }
}

.narrow-container {
  display: flex;
  margin: auto;
  width: 95%;
}

*[class*="to-change_"] {
  transition: 0.2s ease-in;
}

@media (min-width: 1024px) {
  .narrow-container {
    width: 1024px;
  }
}

@media (max-width: 770px) {
  section.content-container {
    margin: 0 0 20px 0;

    &:first-child {
      margin: 20px 0;
    }
  }
}
